<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Note</title>
</head>
<body>
    <!-- title: "Getting Started", 
    body: "You're just getting started!", 
    color: "white", 
    starred: true,  -->

    <h2>Edit Note</h2>
    <form method="POST" action="/notes/<%= data.id %>/edit">
        <input type="text" name="title" value="<%= data.title %>" required/>
        <input type="text" name="body" value="<%= data.body %>" required/>
        <input type="color" name="color" value="<%= data.color %>"/>
        <% if (data.starred == true) { %>
            <input type="checkbox" name="starred" value="true" checked/>
            <% } else { %>
            <input type="checkbox" name="starred" value="true"/>
        <% } %>
        <input type="hidden" name="id" value="<%= data.id %>">
        <input type="hidden" name="createdAt" value="<%= data.createdAt %>">
        <input type="hidden" name="updatedAt" value="<%= currentDate %>">
        <input type="submit"/>
    </form>

    <button><a href="/">Back</a></button>

</body>
</html>