<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Index</title>
</head>
<body>
  <h1>Hello</h1>
  <p>Welcome to <%= title %></p>
  <button><a href="/notes/new">New</a></button>

  <div class="container">
    <% data.forEach(function(user){ %>
      <div class="flexNote">
        <% if (user.starred == true) { %>
          <div class="noteBody" style="background-color: <%=user.color%>; cursor: pointer; border: thick, double" onclick="location.href='/notes/<%= user.id %>/edit';">
            <h1><%= user.title %></h1>
            <p><%= user.body %></p>
            <button href="/notes/<%= user.id %>/delete">Delete</button>
          </div>
        <% } else { %>
          <div class="noteBody" style="background-color: <%=user.color%>; cursor: pointer;" onclick="location.href='/notes/<%= user.id %>/edit';">
            <h1><%= user.title %></h1>
            <p><%= user.body %></p>
            <button href="/notes/<%= user.id %>/delete">Delete</button>
          </div>
        <% } %>
      </div>
    <% }); %>
  </div>

  <!-- <table>
    <% data.forEach(function(user){ %>
        <tr style="background-color: <%=user.color%>;">
            <td><%= user.title %></td>
            <td><%= user.body %></td>
            <% if (user.starred == true) { %>
              <td style="background-color: yellow;"><%= user.starred %></td>
            <% } else { %>
              <td style="background-color: black;"><%= user.starred %></td>
            <% } %>
            <td><a href="/notes/<%= user.id %>/edit">Edit</a></td>
            <td><a href="/notes/<%= user.id %>/delete">Delete</a></td>
            <td><%= user.id %></td>

        </tr>
    <% }); %>
</table> -->

  
</body>
</html>

<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->
